@model SeoFrontEnd.Models.KeywordStatModel

@{
    ViewBag.Title = "KeywordRanking";
}

<h1>@ViewBag.Message</h1>

@foreach (var keyValue in Model.stats.Keys)
{
    <p> Keyword: @keyValue</p>
    <table id="box-table-a">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var val in Model.stats[keyValue].stats)
            {
            <tr>
                <td>@val.TimeStamp</td>
                <td> Poition: @val.position</td>
            </tr>
            }
        </tbody>
    </table>
}

<style>
    #box-table-a {
        border-collapse: collapse;
        font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
        font-size: 12px;
        margin: 20px;
        text-align: left;
        width: 480px;
    }

        #box-table-a th {
            background: none repeat scroll 0 0 #B9C9FE;
            border-bottom: 1px solid #FFFFFF;
            border-top: 4px solid #AABCFE;
            color: #003399;
            font-size: 13px;
            font-weight: normal;
            padding: 8px;
        }

        #box-table-a td {
            background: none repeat scroll 0 0 #E8EDFF;
            border-bottom: 1px solid #FFFFFF;
            border-top: 1px solid rgba(0, 0, 0, 0);
            color: #666699;
            padding: 8px;
        }

        #box-table-a tr:hover td {
            background: none repeat scroll 0 0 #D0DAFD;
            color: #333399;
        }

    #box-table-b {
        border-bottom: 7px solid #9BAFF1;
        border-collapse: collapse;
        border-top: 7px solid #9BAFF1;
        font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
        font-size: 12px;
        margin: 20px;
        text-align: center;
        width: 480px;
    }

        #box-table-b th {
            background: none repeat scroll 0 0 #E8EDFF;
            border-left: 1px solid #9BAFF1;
            border-right: 1px solid #9BAFF1;
            color: #003399;
            font-size: 13px;
            font-weight: normal;
            padding: 8px;
        }

        #box-table-b td {
            background: none repeat scroll 0 0 #E8EDFF;
            border-left: 1px solid #AABCFE;
            border-right: 1px solid #AABCFE;
            color: #666699;
            padding: 8px;
        }
</style>



